<footer class="footer">

    <span class="footer__copyright">&copy; 2019. | copyright@<a href="https://wwww.github.com/smileyqp/">smileyqp</a> | Email：<a href="https://github.com/someus/huno">smileyqp@gmail.com</a></span>
    
</footer>